.content

  .col

    %h2
      Brilliant.

    %p
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.

    %h2
      Provocative.

    %p
      Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.

    %h2
      Humble.

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    
    %br{:style => 'clear: both;'}

  .col

    %h2
      Don't Wait!
      = @total_signups
      People Have Already Signed Up Today!

    = flash[:alert]

    - if flash[:alert].nil?

      %p
        To get started, sign up below:

      = form_for @signup, :url => signups_path do |f|
        = f.text_field :email, :placeholder => "Email"
        %br
        = f.text_field :first_name, :placeholder => "First name"
        %br
        = f.text_field :last_name, :placeholder => "Last name"
        %br
        = f.text_field :postal_code, :placeholder => "Postal code"
        %br
        %br
        = f.submit "Sign Up"

    - else 
  
      %h2
        What's Next?
        
      %p
        While you wait for your first monthly widget, why not
        = succeed "!" do
          = link_to "pick your free gift", "http://service_requests.local:3002"


    %br{:style => 'clear: both;'}

